

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  <welcome-file>Admin_login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  <filter-name>f1</filter-name>
  <filter-class>com.admin.controller.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>f1</filter-name>
  <url-pattern>/Signup</url-pattern>
  <url-pattern>/dashboard.jsp</url-pattern>
  <url-pattern>/Update</url-pattern>
   <url-pattern>/UpdateDetails.jsp</url-pattern>
   <url-pattern>/Signup.jsp</url-pattern>
    <url-pattern>/Delete</url-pattern>
   
  </filter-mapping>
</web-app>
